*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(271deg, #E5E5FC, #D2FAF4);
    
   
}

.container{
    background-color: #F9FAFF;
    border-radius: 10px;
   margin: 10px;
   box-shadow: 5px 5px rgb(253, 248, 248);
   position: relative;
   
}
.sub{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
 
}
.board{
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#frame{
    margin-right: 30px;
    background-color:#ffffff ;
    padding: 20px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
#frame:hover{
    background-color: #EFF1FE;
}
.log{
    background-color: transparent;
    display: flex;
    flex-direction: row;

}
button{
    margin-left: 10px;
    margin-right: 5px;
    background-color:#ffffff ;
    padding: 20px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
 .login{
 background-color: transparent;
 color: #000;
 border: none;
}
.sign{
    background-color: #0F1034;
    color: #EFF0F3;
    border: none;
}
.hover{
    position: absolute;
    top: 70px;
    right: 300px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 200px;
    width: 300px;
    color: #000;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(226, 249, 226);
    border: 2px solid rgb(224, 221, 221);
}
.control{
   
    margin: 10px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    
}
.top-c{
    position: relative;
    top: -25px;
    font-family: sans-serif;
}
 li{
   list-style:  none;
   padding: 5px;
}
.top-text{
    position: relative;
    top: 23.5px;
    font-family: sans-serif;
    margin-bottom: 15px;
}
.top-a{
    margin-top: 5px;
}
.longlist{
   
 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
